<!-- <img class="[LOGO_CLASS]" src="images/[IMAGE]" /> -->
<h2>[TITLE]</h2>
<p class="objetivo"><!-- <strong>Objetivo: </strong> -->[TEXT]</p>
<p class="descripcion">[DESCRIPCION]</p>
<h3>[ITEMS_TITLE]</h3>
<p><strong>Basamento legal: </strong>[LEGAL]</p>
<p>[DOCTRINA]</p>
<!--
<ul>
    <for>
        <li tpl="items">[ITEM_TEXT]</li>
    </for>
</ul>
-->
<style>
    p.objetivo {
        width: 90%;
    }
    
    .expo_text {
        width: 100%;
    }
    
    p.descripcion {
        width: 90%;
    }

.art-img {
    width: 100%;
}
.imgcont {
    width: 80%;
    margin: auto;
        margin-top: auto;
    margin-top: 5%;
}
</style>
