<img class="[LOGO_CLASS]" src="images/[IMAGE]" />
<h2>[TITLE]</h2>
<p>[TEXT]</p>
<ul class="emplist">
    <for>
        <li class="[ITEM_ID]" tpl="items">[ITEM_TEXT]</li>
    </for>
</ul>
<img class="organigrama" src="images/[ORGANIGRAMA]" />
<style>
    img.logo_petro {
        width: 10%;
        margin-top: 2em;
        box-shadow: 5px 5px 5px red;
        padding: 1%;
    }
    img.organigrama {
    /* position: absolute; */
    bottom: 10%;
    margin-left: 3%;
    height: 60%;
}

ul#emplist {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 50%;
}

li.emp {
    margin-bottom: 1.5em;
}

</style>