<h3 class="encabezado">UNIVERSIDAD NORORIENTAL PRIVADA </h3>
<h4 class="encabezado">Gran Mariscal de Ayacucho</h4>
<h4 class="encabezado">Facultad de derecho</h4>
<h4 class="encabezado">Coordinación de pasantías</h4>

<img class="logo" src="images/UGMA.svg" />
<h2 class="titulo">[TITLE]</h2>


<ul class="pie">
    <li><strong>Pasante: </strong>[PASANTE]</li>
    <li><strong>Cedula: </strong>[CEDULA]</li>
    <li><strong>Asesor académico: </strong>[ASESOR_ACAD]</li>
    <li><strong>Asesor externo: </strong>[ASESOR_EXT]</li>
    <li>[FECHA]</li>
</ul>

<style>
    img.logo {
        width: 10%;
        padding: 0.1em;
    }
    
    img.logo {
        position: absolute;
        margin-top: 2em;
    }
    
    h2.titulo {
        width: 60%;
        text-align: center;
        margin: auto;
        padding: 2em;
    }
    
    ul.pie {
        width: 60%;
        text-align: left;
        height: 100%;
        margin-bottom: 0;
        /* bottom: 0; */
        /* vertical-align: bottom; */
    }
    
    .expo_text {
        height: 100vh;
    }
</style>